.form-cadastre{
    background-color: #fff;
    padding: 50px;
    margin: 0 200px 0 200px;
}   

.form-group{
    display: flex;
}

.form-group input {
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 100%;
    font-size: 15px;
}


